.mat-dialog-title {
  text-align: center;
}

.mat-dialog-actions {

  justify-content: center;
  margin-top: 10%;
}

.mat-form-field {

  width: 100%;
}

.mat-form-field-infix {

  width: 100%;
}

input {
  width: 100%;
  height: 35px;
}

.mat-raised-button {
  width: 45%
}
