  <div class="card">
    <div class="card-header card-header-warning">
      <h4 class="card-title">Tasks List</h4>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead class="text-warning">
        <th>ID</th>
        <th>Title</th>
        <th>Category</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Date</th>
        </thead>
        <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{task.id}}</td>
          <td>{{task.title}}</td>
          <td *ngIf="task.category; else no_category">{{task.category.title}}</td>
          <ng-template #no_category><td>...</td></ng-template>
          <td *ngIf="task.priority; else no_priority">{{task.priority.title}}</td>
          <ng-template #no_priority><td>...</td></ng-template>
          <td>{{task.completed}}</td>
          <td *ngIf="task.date; else no_date">{{task.date.toDateString()}}</td>
          <ng-template #no_date><td>...</td></ng-template>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
