<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
    Creative Tim
  </a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item category"
          (click)="showTasksByCategory(null)"
          [class.active]="selectedCategory === null">

        <a class="nav-link">
          <i class="material-icons category-icons">dashboard</i>
          <p class="all-category-title">Все</p>
        </a>
      </li>

      <div class="line"></div>

      <li class="nav-item"
          [class.active]="category === selectedCategory"
          *ngFor="let category of categories; let index = index "
          (click)="showTasksByCategory(category)"
          (mouseleave)="showEditIcon(null)"
          (mouseenter)="showEditIcon(index)"
      >
        <a class="nav-link">
          <i class="material-icons category-icons">dashboard</i>
          <p class="category-title">{{category.title}}</p>
          <p class="edit-category-icon-area">
            <mat-icon
              *ngIf="indexMouseMove === index"
              (click)="$event.stopPropagation(); openEditDialog(category)"

              class="edit-category-icon"


            >edit
            </mat-icon>
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>
